# macOS
.DS_Store

# Xcode
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
xcuserdata/

DerivedData/
build/
*.moved-aside
*.xccheckout
*.xcscmblueprint

# Swift Package Manager
.build/
.swiftpm/

# Logs
*.log
